<div class="row header">
    <div class="col-12">
        <button class="btn btn-primary login-button backtoheader" routerLink="/header">Back to Header</button>
    </div>
</div>
<div class="row">
    <div class="col-2 sidenav">
      <button class="btn btn-secondary component1" routerLink ='templet1'>Component 1</button>
      <button class="btn btn-secondary component2" routerLink ='templet2'>Component 2</button>
      <button class="btn btn-secondary component1" routerLink ='templet1'>Component 1</button>
      <button class="btn btn-secondary component2" routerLink ='templet2'>Component 2</button>
      <button class="btn btn-secondary component1" routerLink ='templet1'>Component 1</button>
      <button class="btn btn-secondary component2" routerLink ='templet2'>Component 2</button>
      <button class="btn btn-secondary component1" routerLink ='templet1'>Component 1</button>
      <button class="btn btn-secondary component2" routerLink ='templet2'>Component 2</button>
      <button class="btn btn-secondary component1" routerLink ='templet1'>Component 1</button>


    </div>
    <div class="col-8 mainpage">
        <h5>Custome Directive</h5>
        <h5 appShared>Welcome To LeftNav Pannel Page</h5>
    </div>
    <div class="col-2 rightnav">

    </div>
</div>
